.MuiStepIcon-root.MuiStepIcon-completed {
    color: green !important;
}
.MuiStepLabel-label.MuiStepLabel-completed{
    font-weight: bold !important;
}

div{
    font-family: 'Roboto';
}
#org-head{
    margin-left: 100px;

}